#order-count {
    position: fixed;
    width: 100%;
    top: 4rem;
    left: 0;
    padding: 10px 25px;
    font: 400 14px;
    box-shadow: var(--box-shadow);
    background-color: var(--text-white)!important;
    z-index: 99;
  }
  
  #background {
    background-color: var(--background-green)!important;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0px;
    min-height: 100vh;
  }
  
  #order-list {
    margin-top: 24%;
    margin-bottom: 10%;
    padding: 12px;
  }
  
  .order-list-item {
    border: 4px solid var(--background-light-gray);
    border-block-end: 4px solid var(--background-light-gray) !important;
    background-color: var(--text-white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5vh;
    padding: 12px 10px !important;
    height: auto;
  }
  
  .order-list-item:first-child {
    margin-top: 1vh;
  }
  
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--background-light-gray);
    margin-bottom: 4px;
    padding-bottom: 4px;
  }

  .order-left {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .order-id {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark-gray);
  }
  
  .order-date {
    font-size: 16px;
    color: #737277;
  }
  
  .order-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .total-price {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: right;
  }
  
  .add-point {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--brown);
    display: flex;
    justify-content: space-between;
  }

  .point-sec{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  
  .order-details {
    margin-bottom: 5px;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .order-details-btn {
    border-width: 0 !important;
    color: var(--accent-blue) !important;
    padding: 4px 0px !important;
    align-items: end !important;
  }
  