body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-green)!important;
}

.backdrop-parent {
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: var(--background-green)!important; */
}

.backdrop {
  position: absolute;
  background-color: var(--text-white);
  height: 18vh;
  width: 100%;
  top: 0;
  z-index: -1;
}

.dashboard {
  padding: 50px 0px;
  margin: 16px;
}

#card {
  position: relative;
  background: none;
  border-width: 0 !important;
}

#card > div {
  padding: 0px !important;
}

.ant-card-bordered {
  border: none !important;
}

#discount-card {
  background-color: var(--text-white);
}

.card-content {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-flow: row nowrap !important;
  align-items: stretch;
  width: 100%;
  height: 100%;
  padding: 5% 5% 6% 5%;
}

.card-item {
  align-self: center;
}

.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin-left: 14px !important;
  margin-bottom: 0px;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--army-green) !important;
  font-weight: 750;
  font-size: 17px;
  text-decoration: none;
}

.ant-tabs-tab-btn {
  color: var(--text-white);
  font-weight: 700;
  font-size: 16px;
}

.ant-tabs-ink-bar {
  background: none !important;
  height: 0 !important;
}

.filled-star {
  color: var(--accent-amber) !important;
}

.avatar {
  text-align: center;
  padding: 2px;
}

.point-container {
  padding: 0px 0px 0px 10px;
}

.available-points{
  display: flex;
  align-items: center;
}

#available-points-text {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
}

#point-icon {
  min-height: 21px;
  height: auto;
  width: auto;
  margin-right: 4px;
  vertical-align: middle;
}

#member-expiry-date {
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  color: var(--text-gray);
}

@media (max-width: 350px) {
  #member-expiry-date {
    font-size: 0.8em;
  }
}

.font-heavy {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 900;
  line-height: var(--line-height);
  letter-spacing: -0.32px;
}

.discount-code-list {
  background-color: var(--text-white);
  border: 3px solid var(--background-light-gray);
}

.discount-code-list-item {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(--text-white);
  padding: 14px 12px !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.discount-code-list-item .ant-list-item-meta {
  display: flex !important;
  align-items: center !important;
  line-height: 0.5 !important;
}

.discount-code-list-item-title h4 {
  margin: 0 !important;
  font-size: 0.75rem;
  font-weight: bold;
}

.discount-code-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.discount-code-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: auto;
}

.discount-code-description {
  font-size: 0.95rem;
  font-weight: normal;
  color: var(--text-gray);
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.details-btn {
  border-width: 0 !important;
  color: var(--accent-blue) !important;
  padding: 4px 0px !important;
}

.redemption-item {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(--text-white);
  padding: 14px 12px !important;
  margin-bottom: 14px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.redemption-item .ant-list-item-meta {
  display: flex !important;
  align-items: center !important;
  line-height: 0.5 !important;
}

.redemption-item-meta {
  margin: 0 !important;
  margin-bottom: -4px !important;
  font-size: 1rem;
  font-weight: bold;
}

.redemption-item-title {
  margin-top: 5px !important;
  font-size: 1.25rem;
  font-weight: bold;
}

.redemption-item-description {
  font-size: 0.95rem;
  font-weight: normal;
  color: var(--text-gray);
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.redemption-item-expired {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(--text-white);
  padding: 14px 12px !important;
  margin-bottom: 14px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.redemption-item-expired .ant-list-item-meta {
  display: flex !important;
  align-items: center !important;
  line-height: 0.5 !important;
}

.redemption-item-expired-meta {
  margin: 0 !important;
  margin-bottom: -4px !important;
  font-size: 1rem;
  font-weight: bold;
}

.redemption-item-expired-title {
  margin-top: 5px !important;
  font-size: 1.25rem;
  font-weight: bold;
}

.redemption-item-expired-description {
  font-size: 0.95rem;
  font-weight: normal;
  color: var(--text-gray);
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.coupon-img {
  border-radius: 0% !important;
  padding-left: 10px !important;
}

.redemption-item .ant-list-item-extra,
.expired .ant-list-item-extra {
  margin: 0 !important;
  position: relative;
  background-color: transparent;
  right: 10px;
}
