/* logout_button.css */

#logout-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  padding-left: 0;

  /* Add the global text styles */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
}
  
.logout-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
  letter-spacing: -0.32px;
}
  