name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_API_URL: ${{ secrets.TEST_API_URL }}
      TEST_PHONE: ${{ secrets.TEST_PHONE }}
      TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - name: Install dependencies
      run: bun install
    - name: Install Playwright Browsers
      run: bun x playwright install --with-deps
    - name: Run Playwright tests
      run: bun x playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
